html, body {
    height: 100%;
    background-color:gainsboro;
    font-family:'Arial Unicode MS';
    font-size: larger;
}


div {
  margin: 5px;
   /* border: 1px solid gray; */
}

#külső {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#kerdes_szoveg {
    font-size: larger;
}

#középső {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#valaszok {
    flex-grow: 1;
    flex-shrink: 1;
}

#vezérlő {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#kép {
    overflow: hidden;
    flex-shrink:0;
    max-width: 100%;
}
.rejtett{
    display: none;
    width: 0px;
}
.gomb {
    padding: 20px;
    width: 80px;
}

.kerdes {
    
}

.kattinthato:hover {
    background-color: blue;
    color: white;
}

.jo:hover {
    background-color: green;
    color: white;
}

.rossz:hover {
    background-color: red;
    color: white;
}

.keret {
    margin: 10px;
    border: 5px solid gray;
}

@media only screen and (max-width: 800px) {
    body {
       /* background-color: lightblue; */
       font-size: smaller;
    }

    div {
        margin: 0px;
        /* border: 1px solid gray; */
        
    }
    .keret {
        margin: 0px;
        border: 2px solid gray;
    }
    #kep {
        overflow: hidden;
        flex-shrink: 1;
        
        display: flex;
        flex-direction: column;
        flex: 1 1 75%;
        order: +1;
        /*  justify-content: space-between; */
    }
    .gomb {
        padding: 5px;
       /* width: 80px; */
        flex: 1 1 25%;
    }
}